<nav class="navbar">

  <div
    class="logo"
    (click)="requestHome()"
  >
    OlimpoAthlete
  </div>

  <ul class="nav-links">

    <li>
      <a
        href="#goals"
        (click)="scrollTo('goals')"
      >
        Goals
      </a>
    </li>

    <li>
      <a
        href="#plans"
        (click)="scrollTo('plans')"
      >
        Plans
      </a>
    </li>

    <li>
      <a
        href="#coaches"
        (click)="scrollTo('coaches')"
      >
        AI Coaches
      </a>
    </li>

    <li>
      <a
        href="#how-it-works"
        (click)="scrollTo('how-it-works')"
      >
        How It Works
      </a>
    </li>

  </ul>

  <button
    class="join-button"
    (click)="requestAuth()"
  >
    GET STARTED
  </button>

</nav>