<section class="hero">

  <div class="hero-content">

    <!-- Nombre de la app -->
    <p class="hero-label">
      OLIMPO ATHLETE
    </p>

    <!-- Título principal -->
    <h1>
      Train like a god. Earn your place on Olympus.
    </h1>

    <!-- Descripción -->
    <p class="hero-description">
      Build strength, improve performance and become the strongest version of yourself.
    </p>

    <!-- Abre Login/Register -->
    <button
      class="hero-button"
      (click)="requestAuth()"
    >
      START TRAINING
    </button>

  </div>

</section>